* {
    margin: 0%;
    padding: 0%;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    height: 80px;
    /* width: 1680px; */
    background-color: #152237;
    /* position: fixed; */

}

#logo {
    width: 81px;
    height: 31px;
}

.glass {
    background-color: transparent;
    border: none;
}

#navigation {
    background: color #152237;
}

.search-wrapper {
    width: 250px;
    position: relative;
    display: flex;
    border: solid white 1px;
    padding: 10px;
    padding-right: 20px;
    border-radius: 5px;

}

.search-bar {
    /* display: flex; */
    /* align-items: center; */
    background: none;
    color: white;
    outline: none;
    border: none;
    /* border: solid green 1px; */
}

.search-wrapper {
    position: relative;
}

.search-wrapper input {
    width: 280px;
    /* padding: 12px 45px 12px 15px; */
    padding-right: 5px;
    /* border-radius: 25px; */
    /* border: 1px solid; */
    font-size: 16px;
    /* outline: none; */
}

.search-wrapper .search-btn {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translate(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;

}

.search-wrapper .search-icon {
    width: 22px;
    height: 22px;
    pointer-events: none;
}




.blue-btn {
    width: 130px;
    height: 40px;
    border-radius: 6px;
    background: linear-gradient(to right, #44DD8A, #15B7E2);
    /* background: linear-gradient(to right,  50%,   50%); */
    /* background-color: #44DD8A ; */
    color: #152237;
    border: none;
}

.white-btn {
    width: 130px;
    height: 40px;
    border-radius: 6px;
    background-color: #FFFFFF;
    color: #152237;
    border: none;
}

#white {
    color: #FFFFFF;
    text-decoration: none;
}

.button {
    display: flex;
    gap: 20px;
}

#back-image {
    /* border: solid red 1px; */
    /* height: fit-content; */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;

    /* background-image:
linear-gradient( rgba(68, 221, 138, 1), rgba(21, 183, 226, 1)),
  url("bg-header.png"); */
    /* opacity: 0.2; */
    /* background-size: cover;
background-position: center;68, 221, 138, 1), rgba(21, 183, 226, 1)),
  url("bg-header.png");
background-repeat: no-repeat;
height: 451px;
color:#152237;
font-family: "Montserrat", sans-serif; */
    width: 100%;
    opacity: 100%;
    height: 450px;

    text-align: center;
}

#image {

    left: 0;
    width: 100%;
    position: absolute;
    height: 450px;
    object-fit: cover;
    z-index: -2;
}

#filter {
    background-image:
        linear-gradient(rgba(68, 221, 138, 1), rgba(21, 183, 226, 1)),
        url("bg-header.png");
    left: 0;
    width: 100%;
    position: absolute;
    height: 450px;
    object-fit: cover;
    z-index: -1;
    opacity: 70%;
}
.card{
    /* border: solid red 1px; */
    width: 350px;
    /* padding: 20px; */
}
h1 {
    width: 100%;
    left: 50%;
    font-size: 48px;
    margin-top: 25px;
    font-family: "Montserrat", sans-serif;
    color: #152237;

}

#fonts {
    font-size: 500;
    font-weight: 500;
}

.all-card {
    display: flex;
    flex-direction: unset;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 80px; */
    text-align: center;
}

.star {
    width: 116, 13px;
    height: 19, 2px;
}

.width {
    width: 350px;
  height: 219px;
    top: 136px;
    left: 497px;
    background-color:#44DD8A ;
    margin-bottom: 27px;
}

.button-img {
    display: flex;
    flex-direction: column;
}

.price {
    display: flex;
    justify-content: center;
    gap: 6px;
    align-items: center;
    width: 20, 13px;
    height: 19, 2;
  top: 240px;
  left: 205px;
    z-index: 1;
    /* top: 432px;
  left: 114px; */
    background-color: #152237;
    /* border: solid red 1px; */
    color: #FFFFFF;
    border-radius: 93px;
    width: 125px;
    height: 40px;
    text-align: center;
    /* position: inherit; */
    position: relative;
    font-size: 20px;
    font-weight: 700px;
}

#look-btn {
    background-color: #152237;
    text-align: center;
    width: 225px;
    height: 40px;
    border-radius: 6px;
    color: #FFFFFF;
    margin-top: 50px;
    font-size: 15px;
    font-weight: 500;
}

.decoration {
    text-decoration: line-through;
    text-decoration-thickness: 0.5px;
    font-size: 10px;
    font-weight: 400px;
}

h2 {
    font-weight: 800;
    font-size: 36px;
    color: #152237;
    margin-top: 44px;

}

.h2{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 51px;
        }