* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    
    
}
html,body{
    overflow-x: hidden;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    height: 80px;
    
    background-color: #152237;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

}

#logo {
    width: 81px;
    height: 31px;
}

.glass {
    background-color: transparent;
    border: none;
}

#navigation {
    background: color #152237;
}

.search-wrapper {
    width: 477px;
    position: relative;
    display: flex;
    border: solid white 1px;
    padding: 10px;
    padding-right: 20px;
    border-radius: 5px;

}

.search-bar {
    background: none;
    color: white;
    outline: none;
    border: none;
}

.search-wrapper {
    position: relative;
    overflow-x: hidden;
    width: 477px;
}

.search-wrapper input {
    width: 477px;
    padding-right: 45px;
    font-size: 16px;
    overflow: auto;
    white-space: nowrap;
    
}

.search-wrapper .glass{
    position: absolute;
    left: 450px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;

}

.search-wrapper .search-icon {
    width: 22px;
    height: 22px;
    pointer-events: none;
}

.blue-btn {
    width: 130px;
    height: 40px;
    border-radius: 6px;
    background: linear-gradient(to right, #44DD8A, #15B7E2);
    color: #152237;
    border: none;
}

.white-btn {
    width: 130px;
    height: 40px;
    border-radius: 6px;
    background-color: #FFFFFF;
    color: #152237;
    border: none;
}

#white {
    color: #FFFFFF;
    text-decoration: none;
}

.button {
    display: flex;
    gap: 19px;
}

#back-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    background-image: linear-gradient(90deg, rgba(68, 221, 138, 0.8) 19%, rgba(21,183,226, 0.8) 100%), url(/bg-header.png);
    background-size: cover;
    width: 100%;
    opacity: 100%;
    height: 450px;

    text-align: center;
}

#image {

    left: 0;
    width: 100%;
    position: absolute;
    height: 450px;
    object-fit: cover;
    z-index: -2;
}

#filter {
    background-image:
        linear-gradient(rgba(68, 221, 138, 1), rgba(21, 183, 226, 1)),
        url("bg-header.png");
    left: 0;
    width: 100%;
    position: absolute;
    height: 450px;
    object-fit: cover;
    z-index: -1;
    opacity: 70%;
}

h1 {
    width: 100%;
    left: 50%;
    font-size: 48px;
    margin-top: 25px;
    font-family: "Montserrat", sans-serif;
    color: #152237;

}

#fonts {
    font-size: 500;
    font-weight: 500;
}
main{
    padding-top: 80px;

}
.all-card {
    display: flex;
    flex-direction: unset;
    justify-content: space-around;
    align-items: center;
}

.star {
   display: flex;
  width: 117px;
  height: 20px;
  position: relative;
  left: 70px;
}

.width {
    width: 305px;
    height: 206px;
    top: 136px;
    left: 497px;
    background-color: #44DD8A;
    margin-bottom: 27px;
}

.button-img {
    display: flex;
    flex-direction: column;
}

.price {
    display: flex;
    justify-content: center;
    gap: 6px;
    align-items: center;
    width: 20, 13px;
    height: 19, 2;
    top: 218px;
    left: 177px;
    z-index: 1;
    background-color: #152237;
    color: #FFFFFF;
    border-radius: 93px;
    width: 120px;
    height: 32px;
    text-align: center;
    position: relative;
    font-size: 20px;
    font-weight: 700px;
}

#look-btn {
    background-color: #152237;
    text-align: center;
    width: 225px;
    height: 40px;
    border-radius: 6px;
    color: #FFFFFF;
    margin-top: 50px;
    font-size: 15px;
    font-weight: 500;
}

.decoration {
    text-decoration: line-through;
    text-decoration-thickness: 0.5px;
    font-size: 10px;
    font-weight: 400px;
    color:#F5F5F5;
}
.white-decoration{
     text-decoration: line-through;
    text-decoration-thickness: 0.5px;
    font-size: 10px;
    font-weight: 400px;
    color:#152237;
}
h2 {
    font-weight: 900;
    font-size: 40px;
    color: #152237;
    padding-bottom: 30px;
   margin-top: 15px;

}

.h2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 51px;
}

.white-price {

    display: flex;
    justify-content: center;
    gap: 6px;
    align-items: center;
    width: 20, 13px;
    height: 19, 2;
    top: 218px;
    left: 177px;
    z-index: 1;
    background-color: #FFFFFF;
    color: #152237;
    border-radius: 93px;
    width: 120px;
    height: 32px;
    text-align: center;
    position: relative;
    font-size: 20px;
    font-weight: 700px;

}

.white-h2 {
    color: #FFFFFF;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 51px;
}

h3 {
    font-weight: 700;
    font-size: 24px;
    color:#FFFFFF;
    margin-top: 25px;
    position: relative;
  left: 73px;
 
}

#main-blue {
    background-color: #152237;
}

#look-blue-btn {
    background-color: #FFFFFF;
    text-align: center;
    width: 225px;
    height: 40px;
    border-radius: 6px;
    color: #152237;
    margin-top: 50px;
    font-size: 15px;
    font-weight: 500;
}

.card {
    width: 307px;
    height: 362px;

}

.white-h3 {
    color: #152237;
    font-size: 24px;
    font-weight: 700;
}

p {
    font-size: 16px;
    font-weight: 400;
    color: #000C;
}

.for-star {
    display: flex;
}

.white-p {
    color: #FFFFFF;
}

#h3 {
    font-weight: 800;
    font-size: 36px;
    color: #FFFFFF;

}

.modif {
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}

#avis {
    width: 100%;
}

#div-avis {
    display: flex;
    gap: 56px;
    padding: 52px 220px;
    align-items: center;

}

#center {
    text-align: center;
    padding-top: 20px;
    margin-top: 34px;
}

.avis-img {
    width: 139px;
    height: 139px;
    border-radius: 85px;
    position: relative;
  left: 59px;

}

#first-avis {
    width: 689;
  gap: 13px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.comments {
    color: #000000CC;
    font-size: 16px;
    font-weight: 400;
}

.photo {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

article {
    display: flex;
    background-color: #F5F5F5;

}
 ul{
    display: flex;
  flex-direction: column;
  gap: 24px;
  

 }
li {
   display: flex;
  gap: 30px;
  align-items: center;

}
.footer-links{
    ul{
        gap: 0px;
    }
}
.new {
    display: flex;
    flex-direction: column;
}

.principal {
    display: flex;
    gap: 151px;
    padding: 115px 124px;
    flex: 1;
}

.green-article {
    background-color: #44DD8A;
    height: 641px;
    display: flex;
    gap: 151px;
    padding: 115px 124px;
    flex: 1;
}
#display-btn{
     width: 130px;
    height: 40px;
    border-radius: 6px;
    background-color: #FFFFFF;
    color: #152237;
    border: none;
}
.green-paragraphes {
    display: flex;
    flex-direction: column;
    gap: 12px;

}

#taille {
    width: 30px;
    height: 30px;
}







#apropos {
    display: flex;
    gap: 50px;
}

.apropos-container {
    display: flex;
    flex: 1;
    background-color: #F5F5F5;
    width: 100%;


}

.text {
    flex: 1;
    background-color: #F5F5F5;
    padding-left: 103px;
    padding-right: 103px;


    flex-direction: column;
    justify-content: center;
    display: flex;

    width: 50%;

    height: 704px;


}



#apropos .text p {
    margin-bottom: 20px;
    padding: 0 20px;

}

.logo {
    background-color: #0f1b38;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 704px;
    left: 850px;
}

#contact {
    padding: 80px 0;
    background-color: #FFFFFF;
}

.contact-container {
    width: 80%;
    margin: auto;
    text-align: center;
}

.contact-container h2 {
    color: #152237;
    font-size: 32px;
    font-weight: 700;
}

.underline {
    display: block;
    width: 350px;
    height: 1px;
    background-color: #44DD8A;
    margin: 15px auto 40px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
}

.form-row {
    display: flex;
    gap: 20px;
}

.contact-form input {
    width: 100%;
    background-color: #152237;
    border: none;
    padding: 18px;
    color: #FFFFFF;
    box-sizing: border-box;
}

.contact-form textarea {
    min-height: 180px;
    resize: none;
    border: none;
    background-color: #152237;
    color: #FFFFFF;
    padding: 18px;
    box-sizing: border-box;
}
.form-row input{
    flex: 1;
}
.form-row-full textarea{
    width: 100%;
}
.contact-form button {
    margin: auto;
    padding: 12px;
    border: none;
    background-color: #44DD8A;
    font-weight: 600;
    border-radius: 6px;
    cursor: pointer;
    width: 351.56px;
    height: 45.3px;
    color: #152237;
    ;
}
.display-btn{
    width: 130px;
    height: 40px;
    border-radius: 6px;
    background-color: #FFFFFF;
    color: #152237;
    border: none;

}
footer {
    background-color: #0f1b38;
    color: #FFFFFF;
    padding-top: 50px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 0px 40px;
    margin: auto;
    margin-bottom: 15px;
    max-width: 1600px;
    align-items: flex-start;
}

.footer-logo img {
    width: 243px;
    height: 87px;
}

.footer-container a {
    color: #FFFFFF;

}

.footer-links a {
    text-decoration: none;
}
.footer-contact{
    display: flex;
  flex-direction: column;
  gap: 12px;
  text-align: initial;
  align-items: baseline;
}
.footer-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.underline-too {
    display: block;
    width: 100%;
    max-width: 1600px;
    background-color: #15B7E2;
    height: 2px;
    margin:  30px auto;
}

.footer-links ul {
list-style: none;
  display: flex;
  flex-direction: column;
  gap: 7px;
  overflow: auto;
}

.footer-contact p {
  color: #FFFFFF;
  display: flex;
  justify-content: center;
   
}
.footer-contact p i{
    margin-right: 10px;
    align-items: center;
}
.rectangle {
    height: 18px;
    width: 100%;
    background: linear-gradient(#44DD8A, #18A0FB);
}

.footer-bottom p {
    color: #FFFFFF;
}

.socials a {
    color: #FFFFFF;
    margin-left: 10px;
    text-decoration: none;
    font-size: 18px;
}

.footer-bottom {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
}

.p-footer p {
    color: #FFFFFF;
}

.p-footer {
    display: flex;
    gap: 5px;
}

#space {
    display: flex;
    gap: 60px;
    justify-content: center;
    align-items: center;
    overflow: visible;
}

.out  {
    visibility: visible;
    position: static; 
}

.cache{
    visibility: hidden;
    position: absolute;  
}

.burger {
  display: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
  padding: 25px;
  z-index: 2000;
}

#burger-toggle {
  display: none;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 80px;
  right: 10px;
  background-color: #152237;
  padding: 15px;
  border-radius: 8px;
  flex-direction: column;
  gap: 10px;
  width: 160px;
}

#burger-toggle:checked ~ .mobile-menu {
  display: flex;
}





@media  screen and (max-width :430px) {
    .burger{
        display:inline-block;
    }
    .button{
        display: none;
    }
    nav{
       justify-content: space-between;
        padding: 0 20px;
    }
    
    header{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        height: 80px;
    }
    .white-btn{
        display: none;
    }
    .blue-btn{
        display: none;
    }
    .mobile-menu .white-btn,
    .mobile-menu .blue-btn {
        display: block;
    }
    .search-bar {
        display: none;
    }
    #white{
        display: none;
 
    }
    .all-card{
        display: flex;
        flex-direction: column;
    }
    #back-image {
    width: 100%;
    height: 100%;
    background-position: center;
    padding: 30px 0;
    
    }
    #avis{
        display: flex;
        flex-direction: column;
        margin: 0;
        width: 100%;
        height: 100%;
    }
    #div-avis{
        flex-direction: column;
        padding: 30px 80px;
        gap: 40px;
        
    }

    .comments {
        
    margin-bottom: 10px;
    }
    h3{
         display: contents;
    }
    h2{
        font-size: 30px;
    }
    h1{
        font-size: 32px;
    }
    #fonts{
        font-size: 16px;
    }
    .principal{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 40px 20px;
        gap: 40px;
    }
.rectangle{
    display: none;
}
    .new {
        width: 100%;
        padding: 1em 0;
    }

    li {
        width: 100%;
        align-items: flex-start;
    
        text-align: initial;
        gap: 10px;
        margin-top: 12px;

        img {
            width: 30px;
            height: 30px;
        }
    }
    h1{
        font-size: 28px;
    }
    h2{
        font-size: 26px;
        text-align: center;
        width: 80%;
    }
    p{
        font-size: 16px;
    }
    .photo{
        width: 100%;
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .photo ul{
        padding: 0;
    }
    
    .smile{
        width: 100%;
    height: 100%;
    background-position: center;

    }
    .green-article{
    display: flex;
        flex-direction: column;
        
        padding: 30px 20px;
        gap: 30px;
        height: auto;
        margin-left: 0%;
        text-align: center;
    }
    

    .principal-green img{
        width: 100%;
        height: auto;
        display: block;
    }
    .green-paragraphes h2{
        text-align: center;
        font-size: 24px;
    }
    .green-paragraphes{
        height: auto;
        width: 100%;

    }
    .li{
        display: flex;
        flex-direction: column;
        gap: 10px;
        
    }
    #solo{
        display: block;
        width: 100%;
        height: auto;
    }
    #apropos{
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .apropos-container {
        flex-direction: column;

        .logo {
            width: 100%;
            img {
                width: 60%;
            }
        }
    }
    .display p{
        font-size: 14px;
    }
    .footer-links ul{
        gap: 0px;
    }
    footer{
padding-top: 40px 0 20px;
    }
    .footer-container{
        flex-direction: column;
        gap: 30px;
        align-items: center;
        text-align: center;
        padding: 0 20px;
    }
    #space{
        flex-direction: column;
        gap: 30px;
    }
    .footer-buttons{
        flex-direction: row;
        justify-content: center;
        gap: 15px;
    }
    .footer-bottom{
        display: flex;
        flex-direction: column;
        gap: 12px;
        text-align: center;
        padding: 20px;
    }
    .p-footer{
        flex-direction: column;
        align-items: center;
        gap: 6px;
    }
    .out{
        visibility: hidden;
        position: absolute;
    }
    .cache{
        visibility: visible;
        position: static;
    }
    .text{
      display: flex;
    flex-direction: column;
    margin: 0;
    padding: 7px;
    width: 100%;
    height: auto;
        p{
            font-size: 15px;
        }
    }
    .conctact-container{
        width: 100%;
        padding: 0 20px;
    }
    .underline{
        display: none;
    }
    .underline-too{
        display: none;
    }
    #contact{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
    }
    .form-row{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .contact-form{
        gap: 15px;
    }
    .contact-form textarea{
        width: 90%;
        font-size: 14px;
    }
    .contact-form input{
    width: 90%;
    font-size: 100%;
       }
    .contact-form button{
        width:90% ;
        height: 45px;
        margin-top: 10px;
    }
    
}

