* {
    margin: 0%;
    padding: 0%;
    font-family: "Montserrat", sans-serif;
    /* text-align: center; */
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    height: 80px;
    /* width: 1680px; */
    background-color: #152237;
    /* position: fixed; */

}

#logo {
    width: 81px;
    height: 31px;
}

.glass {
    background-color: transparent;
    border: none;
}

#navigation {
    background: color #152237;
}

.search-wrapper {
    width: 250px;
    position: relative;
    display: flex;
    border: solid white 1px;
    padding: 10px;
    padding-right: 20px;
    border-radius: 5px;

}

.search-bar {
    /* display: flex; */
    /* align-items: center; */
    background: none;
    color: white;
    outline: none;
    border: none;
    /* border: solid green 1px; */
}

.search-wrapper {
    position: relative;
}

.search-wrapper input {
    width: 280px;
    /* padding: 12px 45px 12px 15px; */
    padding-right: 5px;
    /* border-radius: 25px; */
    /* border: 1px solid; */
    font-size: 16px;
    /* outline: none; */
}

.search-wrapper .search-btn {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translate(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;

}

.search-wrapper .search-icon {
    width: 22px;
    height: 22px;
    pointer-events: none;
}




.blue-btn {
    width: 130px;
    height: 40px;
    border-radius: 6px;
    background: linear-gradient(to right, #44DD8A, #15B7E2);
    /* background: linear-gradient(to right,  50%,   50%); */
    /* background-color: #44DD8A ; */
    color: #152237;
    border: none;
}

.white-btn {
    width: 130px;
    height: 40px;
    border-radius: 6px;
    background-color: #FFFFFF;
    color: #152237;
    border: none;
}

#white {
    color: #FFFFFF;
    text-decoration: none;
}

.button {
    display: flex;
    gap: 20px;
}

#back-image {
    /* border: solid red 1px; */
    /* height: fit-content; */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;

    /* background-image:
linear-gradient( rgba(68, 221, 138, 1), rgba(21, 183, 226, 1)),
  url("bg-header.png"); */
    /* opacity: 0.2; */
    /* background-size: cover;
background-position: center;68, 221, 138, 1), rgba(21, 183, 226, 1)),
  url("bg-header.png");
background-repeat: no-repeat;
height: 451px;
color:#152237;
font-family: "Montserrat", sans-serif; */
    width: 100%;
    opacity: 100%;
    height: 450px;

    text-align: center;
}

#image {

    left: 0;
    width: 100%;
    position: absolute;
    height: 450px;
    object-fit: cover;
    z-index: -2;
}

#filter {
    background-image:
        linear-gradient(rgba(68, 221, 138, 1), rgba(21, 183, 226, 1)),
        url("bg-header.png");
    left: 0;
    width: 100%;
    position: absolute;
    height: 450px;
    object-fit: cover;
    z-index: -1;
    opacity: 70%;
}

/* .card{
    border: solid red 1px;
    width: 350px;
    padding: 20px;
} */
h1 {
    width: 100%;
    left: 50%;
    font-size: 48px;
    margin-top: 25px;
    font-family: "Montserrat", sans-serif;
    color: #152237;

}

#fonts {
    font-size: 500;
    font-weight: 500;
}

.all-card {
    display: flex;
    flex-direction: unset;
    justify-content: space-around;
    align-items: center;
    /* margin-top: 80px; */
    /* text-align: center; */
}

.star {
    width: 117px;
    height: 20px;
}

.width {
    width: 305px;
    height: 206px;
    top: 136px;
    left: 497px;
    background-color: #44DD8A;
    margin-bottom: 27px;
}

.button-img {
    display: flex;
    flex-direction: column;
}

.price {
    display: flex;
    justify-content: center;
    gap: 6px;
    align-items: center;
    width: 20, 13px;
    height: 19, 2;
    top: 218px;
    left: 177px;
    z-index: 1;
    /* top: 432px;
  left: 114px; */
    background-color: #152237;
    /* border: solid red 1px; */
    color: #FFFFFF;
    border-radius: 93px;
    width: 120px;
    height: 32px;
    text-align: center;
    /* position: inherit; */
    position: relative;
    font-size: 20px;
    font-weight: 700px;
}

#look-btn {
    background-color: #152237;
    text-align: center;
    width: 225px;
    height: 40px;
    border-radius: 6px;
    color: #FFFFFF;
    margin-top: 50px;
    font-size: 15px;
    font-weight: 500;
}

.decoration {
    text-decoration: line-through;
    text-decoration-thickness: 0.5px;
    font-size: 10px;
    font-weight: 400px;
}

h2 {
    font-weight: 900;
    font-size: 40px;
    color: #152237;
    padding-bottom: 30px;
    /* margin-top: 44px;
    padding: 50px; */
    /* text-align: center; */

}

.h2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 51px;
}

.white-price {

    display: flex;
    justify-content: center;
    gap: 6px;
    align-items: center;
    width: 20, 13px;
    height: 19, 2;
    top: 218px;
    left: 177px;
    ;
    z-index: 1;
    /* top: 432px;
  left: 114px; */
    background-color: #FFFFFF;
    /* border: solid red 1px; */
    color: #152237;
    border-radius: 93px;
    width: 120px;
    height: 32px;
    text-align: center;
    /* position: inherit; */
    position: relative;
    font-size: 20px;
    font-weight: 700px;

}

.white-h2 {
    color: #FFFFFF;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 51px;
}

h3 {
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
    margin-top: 44px;
}

.main-blue {
    background-color: #152237;
}

#look-blue-btn {
    background-color: #FFFFFF;
    text-align: center;
    width: 225px;
    height: 40px;
    border-radius: 6px;
    color: #152237;
    margin-top: 50px;
    font-size: 15px;
    font-weight: 500;
}

.card {
    width: 307px;
    height: 362px;

}

.white-h3 {
    color: #152237;
    font-size: 24px;
    font-weight: 700;
}

p {
    font-size: 16px;
    font-weight: 400;
    color: #000C;
}

.for-star {
    display: flex;
}

.white-p {
    color: #FFFFFF;
}

#h3 {
    font-weight: 800;
    font-size: 36px;
    color: #FFFFFF;
    margin-top: 44px;
}

.modif {
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}

#div-avis {
    display: flex;
    gap: 56px;
    padding: 52px 220px;
    flex: 1;

}

.avis-img {
    width: 139px;
    height: 139px;
    border-radius: 85px;
}

#first-avis {
    width: 689;
}

.comments {
    color: #000000CC;
    font-size: 16px;
    font-weight: 400;
}

.photo {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

article {
    display: flex;
    background-color: #F5F5F5;
    height: 641px;
    /* display: flex; */

}

.display {
    display: flex;
    gap: 10px;

}

.new {
    display: flex;
    flex-direction: column;
}

.principal {
    display: flex;
    gap: 151px;
    padding: 115px 124px;
    flex: 1;
}

.green-article {
    background-color: #44DD8A;
    height: 641px;
    display: flex;
    gap: 151px;
    padding: 115px 124px;
    flex: 1;
}

.green-paragraphes {
    display: flex;
    flex-direction: column;
    gap: 12px;

}

#taille {
    width: 30px;
    height: 30px;
}

/* #taille{
    width: 100px;
    height: 80px;
} */
/* 
 .container {
    
    margin: 0 auto;
    padding: 0 20px;
} */


/* #formations {
    background-color: #44DD8A;
    padding: 50px 0;
    font-family: 'Arial', sans-serif;
}

.formations-container {
    display: flex;
    align-items: flex-start;
    gap: 50px;
    max-width: 1200px;
    margin: 0 auto;
}

/* #formations .image img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
} */

/* #formations .text h2 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 30px;
    color: #fff;
}

.listes {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.white-icon {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    background-color: rgba(255,255,255,0.1);
    padding: 15px;
    border-radius: 10px;
}

.white-icon img {
    width: 50px;
    height: 50px;
} */

/* .white-icon p {
    margin: 0;
    color: #fff;
    font-size: 1em;
    line-height: 1.5;
} */


#apropos {
    display: flex;
    gap: 50px;
}

.apropos-container {
    display: flex;
    flex: 1;
    background-color: #F5F5F5;
    width: 1680px;


}

.text {
    flex: 1;
    background-color: #F5F5F5;
    padding-left: 103px;
    padding-right: 103px;


    flex-direction: column;
    justify-content: center;
    display: flex;

    width: 50%;

    height: 704px;


}



#apropos .text p {
    margin-bottom: 20px;
}

.logo {
    background-color: #0f1b38;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 704px;
    left: 850px;

}

/* .contact {
    flex: 1;

  width: 1680px;
  height: 740px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
} */

/* .contact-form {
    width: 250px;
    position: relative;
    display: flex;
    
    padding-right: 20px;
    justify-content: center;
    gap: 137px;
    
    
    padding-bottom: 79.7px;
    
} */
/* #message{
width: 1335.92px ;
height: 194.63px;
background-color: #152237;
border: none;
color: #FFFFFF;
}
.row{
    display: flex;
    gap: 138px;
}
.form{
    display: flex;
    gap: 137px;

}
.btn-submit{
    width:351.56px ;
    height: 45.3px;
    background-color: #44DD8A;
    border-radius: 6px;
} */

/* .submit {
    padding-top: 55px;
    padding-bottom: 77px;
    display: flex;
    justify-content: center;
}

#name {
    width: 599px;
    height: 45.25px;
    border: none;
    background-color: #152237;

}

#email {
    width: 599px;
    height: 45.25px;
    border: none;
    background-color: #152237;
} */

/* .contact, h2 {
    padding-top: 10px;
}

.contact img {
    margin-bottom: 60px;
}

#name::placeholder {
    color: white;

}

#email::placeholder {
    color: white;
    padding: 40px;
} */

/* #contact-form-name {
    padding: 20px;
    background-color: #152237;

}
#contact-form-email{
     padding: 20px;
    background-color: #152237;
} */


#contact{
    padding: 80px 0;
    background-color: #FFFFFF;
}
.contact-container{
    width: 80%;
    margin: auto;
    text-align: center;
}
.contact-container h2{
    color: #152237;
    font-size: 32px;
    font-weight: 700;
}
.underline{
    display: block;
    width: 350px;
  height: 1px;
  background-color: #44DD8A;
    margin: 15px auto 40px;
}
.contact-form{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.form-row{
    display: flex;
    gap: 137px;
}
.contact-form input{
    width: 100%;
    background-color: #152237;
    border: none;
    padding: 18px;
    color: #FFFFFF;
}
.contact-form textarea{
    min-height: 180px;
    resize: none;
    border: none;
    background-color: #152237;
    color: #FFFFFF;
    padding: 18px;
}
.contact-form button{
    margin: auto;
  padding: 12px;
  border: none;
  background-color: #44DD8A;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
  width: 351.56px;
  height: 45.3px;
  color: #152237;;
}
footer{
    background-color: #0f1b38;
    color: #FFFFFF;
    padding-top: 50px;
}
.footer-container{
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 50px 0 30px;
    border-bottom: 1px solid #3ddc97;
}
.footer-logo img{
    width: 120px;
}
.footer-logo p{
    margin-top: 10px;
    font-size: 14px;
    color: #FFFFFF;
}
.footer-links h4{
    margin-bottom: 15px;
}
.footer-contact h4{
    margin-bottom: 15px;
}
.footer-links ul{
    list-style: none;
    padding: 0;
}
.footer-links li{
    margin-bottom: 8px;
    gap: 20px;
}
.footer-links a{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 14px;
}
.footer-contact p{
    font-size: 14px;
    margin-bottom: 8px;
    display: flex;
    gap: 8px;
    color: #F5F5F5;
}
.footer-buttons{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer-bottom{
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
}
.socials a{
    color: #FFFFFF;
    margin-left: 10px;
    text-decoration: none;
    font-size: 18px;
}
#para{
    color: #FFFFFF;
}
.footer-links{
    width: 200px
    ;
}